.tecnologia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
    width: auto;

    @include media-max(768px) {
        margin: 0 1.5rem;
    }

    p {
        font-size: 1.8rem;
        color: rgba($color: #ffffff, $alpha: .5);
        margin: 0;
        text-align: center;

        @include media-max(768px) {
            font-size: 1.2rem;
        }
    }
}

.icon {
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media-max(768px) {
        width: 2.5rem;
    }

    i {
        font-size: 3rem;
        color: rgba($color: #ffffff, $alpha: .5);

        @include media-max(768px) {
            font-size: 2.5rem;
        }
    }
}

.owl-carousel {
    margin-top: 1.5rem;
}

.owl-carousel .owl-dots {
    display: none;
}
