@import "../../../scss/base/mixins";

.tecnologia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
    width: auto;
    opacity: 0.5;

    @include media-max(768px) {
        margin: 0 1.5rem;
    }

    p {
        font-size: 1rem;
        color: #fff;
        margin: 0;
        text-align: center;

        @include media-max(768px) {
            font-size: 1.2rem;
        }
    }
}

.icon {
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media-max(768px) {
        width: 2.5rem;
    }
}
