@import "../../scss/base/variables";
@import "../../scss/base/mixins";

.contenedor {
    display: flex;
    flex-direction: column;
    padding-left: 10rem;
    width: 100%;
    height: 100vh;
    align-items: flex-start;
    justify-content: center;

    h1 {
        font-size: 3rem;
    }

    span {
        display: flex;
        font-size: 1.5rem;

        .typing {
            margin-left: 1rem;

            @include media-max(520px) {
                margin-left: .5rem;
            }
        }
    }

    @include media-max(880px) {
        padding-left: 5rem;

        h1 {
            font-size: 2rem;
        }

        span {
            font-size: 1rem;
        }
    }

    @include media-max(520px) {
        padding-left: 2.5rem;

        h1 {
            font-size: 1.5rem;
        }

        span {
            font-size: 1rem;
        }

        .btn {
            padding: .8rem 1.8rem;
            font-size: 1rem;
        }
    }

    @include media-max(520px) {
        padding-left: 5rem;

        h1 {
            font-size: 2.5rem;
        }

        span {
            font-size: 1.4rem;
        }

        .btn {
            padding: .8rem 1.8rem;
            font-size: 1rem;
        }
    }

    @include media-max(520px) {
        padding-left: 2.5rem;
    }
}

.navegacion {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(-135deg, $rojo, $azulFondo 60%);
    clip-path: circle(20px at calc(100% - 40px) 40px);
    transition: all .3s ease-in-out;
    z-index: 100;

    @include desktop {
        clip-path: circle(25px at calc(100% - 45px) 45px);
    }

    a {
        font-weight: $bold;
        color: $blanco;
        position: relative;
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
        padding: .5rem;

        &:after {
            content: "";
            width: 120%;
            height: 3rem;
            background: rgba($color: $blanco, $alpha: 0.5);
            position: absolute;
            border-radius: 50px;
            transform: scaleY(0);
            transition: 0.3s;
            padding: 2rem;
            z-index: -1;
        }

        &:hover:after {
            transform: scaleY(1);
        }

        &:hover {
            color: $azulOscuro;
        }
    }
}

#active:checked ~ .navegacion {
    clip-path: circle(75%);
}

.header {

    input {
        display: none;
    }

    .btn-menu {
        position: fixed;
        right: 2rem;
        top: 2rem;
        z-index: 200;
        text-align: center;
        line-height: 4rem;
        height: 4rem;
        width: 4rem;
        background: $rojo;
        border-radius: 50%;
        color: $azulFondo;
        font-size: 2rem;
        cursor: pointer;
        transition: all .3s ease;

        @include desktop {
            line-height: 5rem;
            height: 5rem;
            width: 5rem;
            font-size: 2.8rem;
        }
    }
}

#active:checked ~ .btn-menu {
    background: $blanco;
}

#active:checked ~ .btn-menu i:before {
    content: "\f00d";
}
